// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer{
  margin-top: 5%;
}
.form-horizontal{
  margin-right: 60%;
  border-style: solid;
  border-color: grey;
  padding: 25px;
  border-radius: 25px;
  background-color: lightgray;
}

