<!doctype html>
<html ng-app="app" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Team FroYo - Corporate Carpool</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-controller="homeController">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-controller="navbarController">
      <div class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li ng-class="navClass('home')"><a href='' ng-click="loadHome()">Home</a></li>
          <li ng-class="navClass('signup')"><a href='' ng-click="loadSignup()">Sign Up</a></li>
        </ul>
        <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Username">
                <input type="text" class="form-control" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-default">Sign In</button>
              <button type="submit" class="btn btn-default">Sign Up</button>
            </form>
            </li>
            </ul>
          </div> -->
      </div>
    </div>

      <div ng-view>
    </div>

    <!--------- Alerts ------ -->
    <!--div class="alert alert-success" role="alert" id="accountRegistered">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden ="true">&times;</span></button>
        <strong>Thank you!</strong> Please check your email to activate your account.
      </div>

    <div class="alert alert-danger" role="alert" id="accountNotActivated">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span></button>
        <strong>Sorry!</strong> Account in not yet activated.
      </div-->

    <!-- <div class="alert alert-danger" role="alert">
        <strong>Sorry!</strong> Account not activated.
      </div> -->

      <div class="footer">
        <center><div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default">About</button>
          <button type="button" class="btn btn-default"><a href="https://github.com/FroYoInc/sprinkles/blob/master/LICENSE">License</a></button>
          <button type="button" class="btn btn-default">Contact</button>
          <button type="button" class="btn btn-default"><a href="https://github.com/FroYoInc">Source</a></button>
        </div></center>
      </div>
    </div>
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="dist/app/scripts/app.js"></script>
    <script src="dist/app/scripts/components/home/homeController.js"></script>
    <script src="dist/app/scripts/components/navbar/navbarController.js"></script>
    <script src="dist/app/scripts/components/signup/signupController.js"></script>
    <!-- endbower -->
</body>
</html>
