<!doctype html>
<html ng-app="app" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Team FroYo2 - Corporate Carpool</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="styles/main.css">
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  </head>
  <body ng-controller="homeController">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-controller="navbarController">
      <div class="navbar">
        <ul class="nav navbar-nav">
          <li ng-class="navClass('home')"><a href='' ng-click="loadHome()">Home</a></li>
          <li ng-class="navClass('signup')"><a href='' ng-click="loadSignup()">Sign Up</a></li>
        </ul>
      </div>
    </div>
      <div ng-view>
    </div>

      <div class="footer">
        <center><div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default">About</button>
          <button type="button" class="btn btn-default">License</button>
          <button type="button" class="btn btn-default">Contact</button>
          <button type="button" class="btn btn-default">Source</button>
        </div></center>
        <br>
        <center><p>Team Froyo</p></center>
      </div>
    </div>
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="dist/app/scripts/app.js"></script>
    <script src="dist/app/scripts/components/home/homeController.js"></script>
    <script src="dist/app/scripts/components/navbar/navbarController.js"></script>

    </script>
    <!-- endbower -->
</body>
</html>
