<div ng-controller="Admin.Controller" class="container">
  <div class="col-sm-12 col-md-4">
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title form-signup-heading">Create a Campus</h3>
      </div>
      <div class="panel-body">
        <form name="campusForm" novalidate>
          <!--Name-->
          <div class="control-group" ng-class="{true: 'error'}[submitted && campusForm.campusName.$invalid]">
            <label class="sr-only" for="campusName">Campus Name</label>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></span>
              <input id="campusName" type="text" ng-model="campusName" class="form-control" name="campusName" required placeholder="Campus Name">
            </div>
            <span class="help-inline2" ng-show="submitted && campusForm.campusName.$error.required">Required Field</span>
          </div>

          <!--Campus Address-->
          <div class="control-group" ng-class="{true: 'error'}[submitted && campusForm.carpoolDescription.$invalid]">
            <label class="sr-only" for="campusAddress">Campus Address</label>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></span>
              <input type="text" ng-model="campusAddress" id="camnpusAddress" class="form-control" name="campusAddress" required placeholder="Campus Address">
            </div>
            <span class="help-inline2" ng-show="submitted && campusForm.campusAddress.$error.required">Required Field</span>
          </div>

          <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createCampus(campusForm.$invalid)">Create Campus</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
  </div>
</div>
