<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Approve or Deny</title>
</head>
<body>
<div class="container" ng-controller="Response.Controller">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Carpool Requests</div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th><center>Firstname</center></th>
        <th><center>Lastname</center></th>
        <th><center>Approve/Deny</center></th>
      </tr>
      <tr>
      <tr ng-repeat="requests in carpoolRequests">
        <td><center>{{requests.firstName}}</center>
        </td>
        <td><center>{{requests.lastName}}</center>
        </td>
        <td><center><button type="submit" class="btn btn-success" ng-click="approveRequest(requests.carpoolID,requests.userID)">Approve</button>
          <button type="submit" class="btn btn-danger" ng-click="denyRequest(requests.carpoolID,requests.userID)">Deny</button></center>
        </td>
      </tr>
    </table>
  </div>


</div>
</body>
</html>
