<div class="container">
  <h3> Change your password </h3>
  <form class="form-horizontal-signin col-sm-4" name= "changePasswordForm">
    <div class="form-group">
      <!-- <label for="inputEmail3" class="col-sm-3 control-label">Email</label> -->
      <br>
      <div class="col-sm-10">
      <p><i> Current password</i></p>
        <input type="password" class="form-control" id="currentPassword" placeholder="Current password"
               ng-model="currentPassword" required>
      </div>
      <br>
      <div class="col-sm-10">
      <p><i> New password</i></p>
        <input type="password" class="form-control" id="newPassword" placeholder="New password"
               ng-model="newPassword" required>
      </div>
      <br>
      <div class="col-sm-10">
      <p><i> Confirm new password</i></p>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm new password"
               ng-model="confirmPassword" required>
      <div class="help-inline2" ng-show="(confirmPassword == 'undefined') ? false : newPassword.localeCompare(confirmPassword)">Passwords do not match.</div>
      </div>
    </div>
    <div>
      <div class="col-sm-offset-1.5 col-sm-10">
        <br>
        <button type="submit" ng-disabled="newPassword.localeCompare(confirmPassword)" ng-click="changePassword(changePasswordForm.$invalid)" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>