<div ng-controller="Dashboard_Carpools_Create.Controller">
  <div class="jumbotron">

    <form name="createform" class="form-signup" novalidate>
    <h2 class="form-signup-heading">Create a Carpool</h2>

    <!--Name of Carpool-->
    <div class="form-group">
      <label>Name of Carpool</label>
	    <input type="text" ng-model="name" class="form-control" id="name" required>
      <div ng-show="emailExistsError" class="help-block"> Email already exists. Please choose a different email.</div>
      <div ng-show="emailDomainError" class="help-block"> Invalid email domain. Please enter an email address with the correct domain. </div>
    </div>
    <!--Description of Carpool-->
    <div class="form-group">
      <label>Description of Carpool</label>
      <input type="text" ng-model="description" class="form-control" id="description" required>
      <div ng-show="emailExistsError" class="help-block"> Email already exists. Please choose a different email.</div>
      <div ng-show="emailDomainError" class="help-block"> Invalid email domain. Please enter an email address with the correct domain. </div>
    </div>
    <!--Campus Location -->
    <div class="form-group">
      <label>Campus (location of Office)</label>
      <input type="text" name="campus" class="form-control" ng-model="campus" required>
      <div ng-show="signupform.userName.$error.minlength" class="help-block">Username is too short.</div>
      <div ng-show="usernameerror" class="help-block"> Username already exists. Please choose a different username.</div>
    </div>

    <!--Owner of Capool-->
    <div class="form-group">
      <label>Owner of Carpool</label>
      <input type="text" name="owner" class="form-control" id="owner" ng-model="owner" required>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createCarpool()">Sign up</button>
  </div>
</div>
