<div ng-controller="Dashboard_Carpools_Create.Controller">
  <div class="jumbotron">

    <form name="createform" class="form-signup" novalidate>
    <h2 class="form-signup-heading">Create a Carpool</h2>

    <!--Name of Carpool-->
    <div class="control-group" ng-class="{true: 'error'}[submitted && createform.name.$invalid]">
      <label>Name of Carpool</label>
	    <input type="text" ng-model="name" name= "name" required>
      <span class="help-inline" ng-show="submitted && createform.name.$error.required">Required Field</span>
    </div>
    <!--Description of Carpool-->
    <div class="control-group" ng-class="{true: 'error'}[submitted && createform.description.$invalid]">
      <label>Description of Carpool</label>
      <input type="text" ng-model="description" class="form-control" name="description" required>
      <span class="help-inline" ng-show="submitted && createform.description.$error.required">Required Field</span>
    </div>
    <!--Campus Location -->
    <div class="control-group" ng-class="{true: 'error'}[submitted && createform.campus.$invalid]">
      <label>Campus (location of Office)</label>
      <select ng-model="campus" name="campus" required>
          <option ng-repeat="campus in campusList" value="{{campus.name}}">{{campus.name}}</option>
      </select>
      <span class="help-inline" ng-show="submitted && createform.campus.$error.required">Required Field</span>
    </div>

    <!--Pickup Location -->
    <div class="control-group" ng-class="{true: 'error'}[submitted && createform.pickupLocation.$invalid]">
      <label>Pick up location</label>
          <input type="text" ng-model="address" class="form-control" name="address" placeholder="Address" required>
      <span class="help-inline" ng-show="submitted && createform.address.$error.required">Required Field</span>
    </div>

    <div ng-show="carpoolExists" class="help-inline2"> Error: Cannot create carpool. This carpool already Exists.</div><br>
    <button type="submit" class="btn btn-primary btn-lg btn-inline" ng-click="createCarpool(createform.$invalid)">Create Carpool</button>
  </div>
</div>
