<div ng-controller="Dashboard.Controller">

<div class="container">

  <div ng-hide="!showCarpools" class="page-header">
    <h1>Current Carpool Status <br>
      <small>You are not currently in a carpool</small>
    </h1>
  </div>
  <div ng-hide="showCarpools" src="'views/displayCarpoolsView.html'">
  <div>
    <div class="page-header">
    <h1> Carpool Viewer - Found <strong> {{carpoolList.length}} Carpools</strong> <br>
      <small> Click an entry to view details of a carpool. Click the entry again to hide the details. </small>
    </h1>
  </div>
    <accordion close-others="oneAtATime">
      <accordion-group heading="{{carpool.name}}" ng-repeat="carpool in carpoolList">
        <strong>Description:</strong> {{carpool.description}} <br>
        <strong>Owner:</strong> {{carpool.owner.lastName}}, {{carpool.owner.firstName}} <br>
        <strong>Contact:</strong> {{carpool.owner.email}} <br>
        <strong>Current Participants:</strong> {{carpool.participants.length}} <br>
        <strong>Carpool Ref:</strong> {{carpool.href}} <br>
        <strong>Campus Locatition:</strong> {{carpool.campus.name}} <br>
      </accordion-group>
    </accordion>
  </div>
</div>


  <!-- User Profile Widget -->
  <div class="row-1">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../images/glyphicons-user.png">
        <div class="caption">
          <center> <h3>User Profile</h3>
          <p>View or Edit Your User Profile</p>
          <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="displayCarpools()">Edit Profile</button>
        </div><center>
      </div>
    </div>
  </div>

  <!-- Carpool Widget -->
  <div class="row-2">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../images/glyphicons-car.png">
        <div class="caption">
          <center> <h3>Carpool</h3>
            <p>View and Join Carpools Here</p>
              <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="displayCarpools()">{{viewText}} Carpools</button>
        </div><center>
      </div>
    </div>
  </div>

  <!-- New Carpool Widget -->
  <div class="row-3">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../images/glyphicons-cars.png">
        <div class="caption">
          <center> <h3>Create New Carpool</h3>
            <p>Create Carpool Here</p>
            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="">Create Carpool</button>
        </div><center>
      </div>
    </div>
  </div>

</div>

</div>

<br><br><br>

<div class="footer">
  <center>Version .02</center>
</div>
