<div>

<div class="container">
  <div class="page-header">
    <h1>Current Carpool Status <br>
      <small>You are not currently in a carpool</small>
    </h1>
  </div>

  <!-- User Profile Widget -->
  <div class="row-1">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../images/glyphicons-user.png">
        <div class="caption">
          <center> <h3>User Profile</h3>
          <p>View or Edit Your User Profile</p>
          <div ng-controller='Dashboard_Carpools_View.Controller'>
          <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="displayCarpools()">Edit Profile</button>
        </div>
        </div><center>
      </div>
    </div>
  </div>

  <!-- Carpool Widget -->
  <div class="row-2">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../images/glyphicons-car.png">
        <div class="caption">
          <center> <h3>Carpool</h3>
            <p>View and Join Carpools Here</p>
              <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="displayCarpools()">View Carpools</button>
        </div><center>
      </div>
    </div>
  </div>

  <!-- New Carpool Widget -->
  <div class="row-3" ng-show="carpoolStatus">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../images/glyphicons-cars.png">
        <div class="caption">
          <center> <h3>Create New Carpool</h3>
            <p>Create Carpool Here</p>
            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createCarpool()">Create Carpool</button>
        </div><center>
      </div>
    </div>
  </div>

<!-- Edit Carpool Widget -->
  <div ng-controller="Dashboard_Carpools_Edit.Controller">
  <div class="row-3" ng-show="!carpoolStatus">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../images/glyphicons-settings.png">
        <div class="caption">
          <center> <h3>Edit Carpool</h3>
            <p>Edit your carpool</p>
              <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="loadCarpoolId(carpoolId)">Edit Carpool</button>
        </div><center>
      </div>
    </div>
  </div>

<br><br><br>

<div class="footer">
  <center>Version .02</center>
</div>
