<div ng-controller="Dashboard_Carpools_View.Controller">
  <!--div class="page-header">
  <h1> Carpool Viewer2 - Found <strong> {{carpoolList.length}} Carpools</strong> <br>
    <small> Click an entry to view details of a carpool. Click the entry again to hide the details. </small>
  </h1>
</div>
  <accordion close-others="oneAtATime">
    <accordion-group heading="{{carpool.name}}" ng-repeat="carpool in carpoolList">
      <strong>Description:</strong> {{carpool.description}} <br>
      <strong>Owner:</strong> {{carpool.owner.lastName}}, {{carpool.owner.firstName}} <br>
      <strong>Contact:</strong> {{carpool.owner.email}} <br>
      <strong>Current Participants:</strong> {{carpool.participants.length}} <br>
      <strong>Carpool Ref:</strong> {{carpool.href}} <br>
      <strong>Campus Locatition:</strong> {{carpool.campus.name}} <br>
    </accordion-group>
  </accordion-->
  Hello World
</div>
