<div ng-controller="Dashboard_Carpools_View.Controller" class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title form-signup-heading">Carpool Finder</h3>
    </div>
    <div class="panel-body">
      <div ng-show="carpoolList.length == null && carpoolList.length != 0" class="alert alert-info" role="alert">
        You can find carpools near you by typing in your address and search radius above &ndash; alternatively you can just select a destination campus to view all carpools.
      </div>
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="pickupAddress">Pickup Location</label>
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></span>
            <input type="text" id="pickupAddress" ng-model="address" name="address" ng-required=" submitted && radius" class="form-control" placeholder="Pickup Location">
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="radius">Radius</label>
          <div class="input-group">
            <div class="input-group-addon">
              Radius
            </div>
            <select ng-model="radius" id="radius" name="radius" ng-required="submitted && address" class="form-control">
                <option>5</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
                <option>25</option>
            </select>
            <div class="input-group-addon">
              miles
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="campusDest">Campus<label style="color:red;">*</label></label>
          <div class="input-group">
            <div class="input-group-addon">
              Campus <span style="color: red;">*</span>
            </div>
            <select ng-model="campus" name="campus" required id="campusDest" class="form-control">
                <option ng-repeat="campus in campusList" value="{{campus.name}}">{{campus.name}}</option>
            </select>
          </div>
        </div>
        <button type="submit" ng-click="submitted=true;search(campus,radius,address);" class="btn btn-primary">Search</button>
        <button class="btn btn-primary" ng-click="submitted=false;resetForm()">Clear Address</button>
      </form>
      <div ng-show="carpoolList.length == 0 && carpoolList.length != null" class="alert alert-warning" role="alert">
        Your search turned up zero results. Please try again.
      </div>
      <div ng-show="carpoolList.length != null && carpoolList.length > 0" class="alert alert-info" role="alert">
        Search found <strong> {{carpoolList.length  || 0 }} carpools.
      </div>

      <!-- Search Results -->
      <div class="col-sm-6 col-md-push-6" ng-init="initialize('googleMap')">
        <right>
          <div id="googleMap">
          </div>
        </right>
        <br>
        <br>
      </div>

      <div class="col-sm-6 col-md-pull-6">
        <accordion close-others="oneAtATime">
          <accordion-group  ng-repeat="carpool in carpoolList" is-open="status.open">
            <accordion-heading>
              <i class="pull-left glyphicon" ng-class="{'icon-minus-sign': status.open, 'icon-plus-sign': !status.open}"></i>
              <h4> &nbsp;{{carpool.name}}</h4>
            </accordion-heading>
            <strong>Description:</strong> <pre>{{carpool.description}}</pre>
            <strong>Owner:</strong> {{carpool.owner.lastName}}, {{carpool.owner.firstName}} <br>
            <strong>Contact:</strong> {{carpool.owner.email}} <br>
            <strong>Current Participants:</strong> {{carpool.participants.length}} <br>
            <strong>Campus Locatition:</strong> {{carpool.campus.name}} <br>
            <strong>Pickup Location:</strong> {{carpool.pickupLocation.address}} <br>
            <div ng-show="carpool.dist >= 0"><strong>Distance:</strong> {{carpool.dist.toFixed(1)}} miles<br></div>
            <div ng-controller="Request.Controller">
              <div class="reqDisp" ng-show="!carpoolStatus">
              <button type="submit" class="btn btn-primary btn-lg" ng-click="sendRequest(carpool.href.substr(10))">Request Access to Carpool</button>
              </div>
            </div>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
</div>
