<div ng-controller="Dashboard_Carpools_Edit.Controller" class="container">
  <form name="editform" class="form-signup" novalidate>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title form-signup-heading">Edit Your Carpool</h3>
      </div>
      <div class="panel-body">
        <!--Name-->
        <div class="control-group" ng-class="{true: 'error'}[submitted && editform.carpoolName.$invalid]">
          <label>Carpool Name</label>
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></span>
            <input type="text" ng-model="carpoolName" name="carpoolName" required class="form-control" placeholder="Carpool Name">
          </div>
          <span class="help-inline2" ng-show="submitted && editform.carpoolName.$error.required">Required Field</span>
        </div>

        <div>
          <div class="col-sm-12 col-md-8 no-padding">
            <!--Pickup Location -->
            <div class="control-group" ng-class="{true: 'error'}[submitted && editform.pickupLocation.$invalid]" style="padding-right: 3px;">
              <label>Pick up location</label>
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></span>
                <input type="text" ng-model="address" class="form-control" name="address" required placeholder="Address">
              </div>
              <span class="help-inline2" ng-show="submitted && editform.address.$error.required">Required Field</span>
            </div>
          </div>

          <div class="col-sm-12 col-md-4 no-padding">
            <!--Campus Location -->
            <div class="control-group" ng-class="{true: 'error'}[submitted && editform.campus.$invalid]">
              <label>Campus (location of Office)</label>
              <select ng-model="carpoolCampusName" name="carpoolCampusName" required class="form-control width100">
                  <option> {{carpoolCampusName}}</option>
                  <option ng-repeat="campus in campusList" value="{{campus.name}}">{{campus.name}}</option>
              </select>
              <span class="help-inline2" ng-show="submitted && editform.campus.$error.required">Required Field</span>
            </div>
          </div>
        </div>

        <!--Description of Carpool-->
        <div class="control-group" ng-class="{true: 'error'}[submitted && editform.carpoolDescription.$invalid]">
          <label>Carpool Description</label>
          <textarea ng-model="carpoolDescription" rows="7" class="form-control" name="carpoolDescription" required></textarea>
          <span class="help-inline2" ng-show="submitted && editform.carpoolDescription.$error.required">Required Field</span>
        </div>

        <!-- participants -->
        <table class="table width100 table-striped">
          <caption>Participants</caption>
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody  ng-repeat="participants in participantsArray">
            <tr>
              <td>{{participants.firstName}}</td>
              <td>{{participants.lastName}}</td>
              <td>{{participants.email}}</td>
            </tr>
          </tbody>
        </table>

        <div ng-show="carpoolExists" class="help-inline2"> Error: Cannot create carpool. This carpool already Exists.</div><br>
        <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="submitted=true; editCarpool(editform.$invalid)">Edit Carpool</button>
      </div>
    </div>
  </form>
</div>
