<div class="container">
  <div class="col-sm-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title form-signup-heading">Change Your Password</h3>
      </div>
      <div class="panel-body">
        <form name="changePasswordForm">
          <div class="form-group">
            <label class="sr-only" for="currentPassword">Current Password</label>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
              <input type="password" class="form-control" id="currentPassword" placeholder="Current Password"
                     ng-model="currentPassword" required>
            </div>

            <label class="sr-only" for="newPassword">New Password</label>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
              <input type="password" class="form-control" id="newPassword" placeholder="New Password"
                     ng-model="newPassword" required>
            </div>

            <label for="confirmPassword" class="sr-only">New Password, again</label>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
              <input type="password" class="form-control" id="confirmPassword" placeholder="New Password, again"
                     ng-model="confirmPassword" required>
            </div>
            <div class="help-inline2" ng-show="(confirmPassword == 'undefined') ? false : newPassword.localeCompare(confirmPassword)">Passwords do not match.</div>
            <button type="submit" ng-disabled="newPassword.localeCompare(confirmPassword)" ng-click="changePassword(changePasswordForm.$invalid)" class="btn btn-primary btn-block">Update Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
